* {
    margin: 0px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

::selection {
    background-color: #ffffff;
}

#whole {
    display: flex;
    justify-content: center;
    height: 100vh; 
    width: 100%;
}


#mainframe {
    width: 440px;
    height: auto; 
    background-color: #ffffff;
    box-shadow: 10px 0px 20px -10px rgba(0,0,0,0.2), -10px 0px 20px -10px rgba(0,0,0,0.2); 
}

#aside {
    display: none;
    width: 380px;
    height: auto; 
    background-color: white;
    box-shadow: 10px 0px 20px -10px rgba(0,0,0,0.2), -10px 0px 20px -10px rgba(0,0,0,0.2); 
    border-radius: 20px; 
    margin: 20px 30px 10px 15px;
    padding: 10px 10px 10px 10px;
    position: sticky;
}


#header {
    height: 48px;
    padding: 8px 16px;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 100;
    background-color: #ffffff;
}

#main {
    width: 440px;
    /* chain of height */
    height: auto;
    position: relative;
    
    background-color: gray;
    min-height: calc(100vh - 48px);

    display: block;

}

#main-content {
    width: 440px;
    /* chain of height */
    height: auto;
}

#main-navbar {
    width: 440px;
    height: 65px;
    border-top: 0.909px;
}

#footer {
    width: 380px;
    height: 210px;

    padding: 30px 30px calc(30px);
    background-color: rgb(245, 245, 245);
    border-top: 4px solid rgb(214,214,214);
}


.navbar {
    background-color: white;
    position: sticky;
    bottom: 0px;
    height: 65px;
    width: 100%;
    z-index: 10;
    border-top: 1px solid rgba(237, 237, 237, 0.725);
}

.navbar-ul {
    padding: 0px;
    height: 65px;
    width: 440px;
    background-color: white;

}

.navbar-li {
    float: left;
    
    width: 87.997px;
    height: 55px;

    list-style: none;

    text-align: center;
    
}

.navbar-li {
    padding-top: 10px;
}


.navbar-li a{
    font-size: 12px;   
    text-decoration: none;
    color: rgb(102,102,102);
}



