<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
      #main {
        z-index: 0;  
        position: relative;  
      }
      #main-navbar, #header {
        z-index: 1; 
      }
    </style>
    
    <script src="./js/jquery-3.7.0.js"></script> <!-- 올바른 jquery 경로 입력-->
    <script>
    $(function(){
      $("#whole").load("mainframe.html", function() {
        $('#main').append(`
        
        여기에 컨텐츠를 추가하시오
        <div style="background-color:red; width: 200px; height: 200px;"><div>

        `); /* 이 안에 컨텐츠 추가 */
      }); 
    });

    </script>
</head>
<body>

  <div id="whole"></div>

</body>
</html>